---
const { content = {} } = Astro.props;
const title = content.title;
---

<main id="main-content" class="h-full">
  <section class="main-section h-full pt-24">
    <h1 class="content-title" id="overview">{title}</h1>
    <slot />
  </section>
</main>

<style></style>
