---
import Navigation from '../components/Navigation.astro'
import ResponsiveToggle from '../components/ResponsiveToggle.astro'
import SkipLinks from '../components/SkipLinks.astro'
---

<header>
  <SkipLinks client:load />
  <section class="">
    <div class="container temp">
      <!-- <img src="assets/logo.svg" alt="Your Logo"> -->
      <ResponsiveToggle client:load />
      <Navigation client:load />
    </div>
  </section>
</header>

<style lang="scss">

</style>
