---
import ThemeToggleButton from './ThemeToggleButton.tsx';
---

<nav id="main-navigation">
  <ul>
    <li><a href="/" aria-current="page">Home</a></li>
    <li><a href="/md">Md</a></li>
    <li><a href="/tailwind">Tailwind</a></li>
    <li><a href="/alpine">Alpine</a></li>
    <li><a href="/image">Image</a></li>
    <li><ThemeToggleButton client:visible /></li>
  </ul>
</nav>

<style lang="scss">
  @use '../styles/base/breakpoint' as *;

  nav {
    display: none;
    flex-basis: 100%;

    @include breakpoint(medium) {
      display: block;
      flex-basis: auto;
    }

    &.show {
      display: block;
    }

    > ul {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      @include breakpoint(medium) {
        flex-direction: row;
      }
    }
  }
</style>
