<button class="responsive-toggle" aria-expanded="false" aria-label="Open menu navigation">
  Menu
</button>

<script>

</script>

<style lang="scss">
  @use "../styles/base/breakpoint" as *;
  @use "../styles/base/outline" as *;

  .responsive-toggle {
    &:focus {
      @include outline;
    }

    @include breakpoint(medium) {
      display: none;
    }
  }
</style>
